<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
<!--    <p>{{ users | json }}</p>-->
    <ion-item>
      <ion-label>
        Province :
      </ion-label>
      <ion-select>
          <div *ngFor="let x of filterX;let i = index">
        <ion-select-option [value]="x">{{x}}</ion-select-option>
          </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Amphoe :
      </ion-label>
      <ion-select>
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        District :
      </ion-label>
      <ion-select>
      <ion-select-option></ion-select-option>
      </ion-select>

    </ion-item>
  </div>
</ion-content>
