<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
<!--    <p>{{ users | json }}</p>-->
    <ion-item>
      <ion-label>
        Province :
      </ion-label>
      <ion-select [(ngModel)]="sendData">
        <div *ngFor="let x of filterX">
            <ion-select-option [value]="x">{{x}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Amphoe :
      </ion-label>
      <ion-select>
          <div *ngFor="let y of filterY">
              <ion-select-option [value]="y">{{y}}</ion-select-option>
          </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        District :
      </ion-label>
      <ion-select>
          <div *ngFor="let z of filterZ">
              <ion-select-option [value]="z">{{z}}</ion-select-option>
          </div>
      </ion-select>

    </ion-item>
  </div>
</ion-content>
