<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <div>
                Provice:
              </div>
            </ion-label>
            <ion-select [(ngModel)]="sendProvince" (ngModelChange)="selectProvice($event)">
              <div *ngFor="let province of provinces">
                <ion-select-option [value]="province" >{{province}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>
              <div>
                Amphoe:
              </div>
            </ion-label>
            <ion-select [(ngModel)]="sendAmphoe" (ngModelChange)="selectAmphoe($event)">
              <div *ngFor="let amphoe of amphoes">
                <ion-select-option [value]="amphoe" >{{amphoe}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>
              <div>
                District:
              </div>
            </ion-label>
            <ion-select [(ngModel)]="SendDistrict">
              <div *ngFor="let district of districts">
                <ion-select-option [value]="district" >{{district}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
